body, html {
  height: 100%;
}

.background {
  /* la imagen a usar */
  background-image: url("presente.jpg");

  /* altura total */
  height: 100%;

  /* centrado y escalado de la imagen */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_bio {
  /* la imagen a usar */
  background-image: url("bio.jpg");
  margin-top: 50px;

  /* altura total */
  height: 100%;

  /* centrado y escalado de la imagen */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
