header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  color: #000;
  max-height: 60px;
}
header a {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;3
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 15px;
  display: block;
}
header a:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
/* Galeria */
article {
  margin-top: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;

}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
