
.icon-menu:before { content: '\e800'; } /* '' */
.icon-menu2:before { content: '\e801'; } /* '' */
.icon-camera1:before { content: '\e802'; } /* '' */
.icon-camera2:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-resize:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\f137'; } /* '' */
.icon-right:before { content: '\f138'; } /* '' */
.icon-instagram1:before { content: '\f16d'; } /* '' */
.icon-instagram2:before { content: '\f31e'; } /* '' */
.icon-instagram3:before { content: '\f31f'; } /* '' */